@page
@using System.Text.RegularExpressions;
@model EJE0701___Razor.Pages.IndexModel

@{
    string exe = Request.Query["exe"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJ0701_INDEX</title>
    <link rel="stylesheet" href="./css/StyleSheet.css" />
</head>
<body>
    <header>
        <img src="./media/me.jpeg">
        <a href="/"><h1>Andrés Izquierdo</h1></a>
        <h2>1º Desarrollo de Aplicaciones Web A</h2>
    </header>
    <div class="flex-main">
        <main>
            @{
                switch (exe)
                {
                    case "1":
                        <h2>Cálculo de números</h2>
                        <form name="formEje1" method="post">
                            @if (Request.Method == "POST")
                            {
                                <p>
                                    <label for="num1">Primer número: </label>
                                    <input type="text" class="numberBox" name="num1" value=@Request.Form["num1"] required />
                                </p>
                                <p>
                                    <label for="num1">Segundo número: </label>
                                    <input type="text" class="numberBox" name="num2" value=@Request.Form["num2"] required />
                                </p>

                                decimal num1, num2;
                                if (decimal.TryParse(Request.Form["num1"], out num1) && decimal.TryParse(Request.Form["num2"], out num2))
                                {
                                    <div class="cajaResultado">
                                        <p class="textBolded">Suma:</p>
                                        <p>@num1 <span class="sign">+</span> @num2 = <span class="resultNumb">@(num1 + num2)</span></p>
                                        <p class="textBolded">Resta:</p>
                                        <p>@num1 <span class="sign">-</span> @num2 = <span class="resultNumb">@(num1 - num2)</span></p>
                                        <p class="textBolded">Multiplicación:</p>
                                        <p>@num1 <span class="sign">*</span> @num2 = <span class="resultNumb">@(num1 * num2)</span></p>
                                        <p class="textBolded">División:</p>
                                        <p>@num1 <span class="sign">/</span> @num2 = <span class="resultNumb">@(Math.Round(num1 / num2, 3).ToString("0.###"))</span></p>

                                    </div>
                                }
                                else
                                {
                                    <p><span class="errorMssg">Error:</span>Introduce los datos correctamente: dos valores numéricos.</p>
                                }
                            }
                            else
                            {
                                <p>
                                    <label for="num1">Primer número: </label>
                                    <input type="text" class="numberBox" name="num1" required/>
                                </p>
                                <p>
                                    <label for="num1">Segundo número: </label>
                                    <input type="text" class="numberBox" name="num2" required/>
                                </p>
                            }
                            <p><input type="submit" class="submitButton" value="Calcular" /></p>

                        </form>

                        break;

                    case "2":
                        <h2>Cuenta palabras</h2>
                        <form name="formEj2" method="post">
                            @if (Request.Method == "POST")
                            {
                                string text, word;
                                if (!String.IsNullOrEmpty(Request.Form["textInserted"]) && !String.IsNullOrEmpty(word = Request.Form["wordToFind"]))
                                {
                                    text = Request.Form["textInserted"];
                                    word = Request.Form["wordToFind"];
                                    string pattern = @"\b" + Regex.Escape(word.ToLower()) + @"\b";

                                    int amount = Regex.Matches(text.ToLower(), pattern).Count;
                                    //Regex test = new Regex()
                                    <p class="wrappingParagraph"><span>Texto:</span> @text</p>
                                    <p><span>Palabra:</span> @word</p>

                                    if (amount == 1)
                                    {
                                        <p>La palabra <span>"@word"</span> aparece <span>@amount</span> vez.</p>
                                    }
                                    else if(amount > 1)
                                    {
                                        <p>La palabra <span>"@word"</span> aparece <span>@amount</span> veces.</p>
                                    }
                                    else
                                    {
                                        <p>La palabra <span>"@word"</span> no aparece en el texto.</p>
                                    }
                                }
                                else
                                {
                                    <p>Los valores introducidos no pueden estar vacios.</p>
                                }

                            }
                            else
                            {
                                <p>
                                    <label for="text">Texto: </label>
                                </p>
                                <p>
                                    <textarea id="textarea" name="textInserted" rows="8" cols="50" required></textarea>

                                </p>
                                <p>
                                    <label for="num1">Palabra: </label>
                                    <input type="text" name="wordToFind" required/>
                                </p>
                                <p><input type="submit" class="submitButton" value="Cuenta" /></p>
                            }
                        </form>

                        break;

                    case "3":
                        <h2>Calculadora de días transcurridos</h2>
                        <form name="formEj3" method="post">

                                @if (Request.Method == "POST")
                                {
                                    DateTime currentTime = DateTime.Now;
                                    if (DateTime.TryParse(Request.Form["dateintroduced"], out DateTime date) && date.CompareTo(currentTime) < 0)
                                    {
                                    <p>Fecha de hoy: <span>@currentTime.ToShortDateString()</span></p>
                                    <p>Fecha introducida: <span>@date.ToShortDateString()</span></p>
                                        <p>Días entre la fecha introducida y el día de hoy: <span>@date.Subtract(currentTime).Days.ToString().Substring(1) días</span></p>
                                    }
                                    else
                                    {
                                    <p>Introducción de fecha inválida.</p>
                                }
                            }
                            else
                            {
                                <p>
                                    <label for="dateIntroduced">Introduce la fecha deseada:</label>
                                    <input type="date" name="dateIntroduced" required/>
                                </p>
                                <p><input type="submit" class="submitButton" value="Calcular" /></p>
                            }
                        </form>
                        break;
                    case "4":
                        <p>Ejer 4</p>
                        break;
                    default:
                        <h2>Ejercicio 1</h2>
                        <h3>Cálculo de números</h3>
                        <p>Obtén la suma, resta, división y multiplicación de dos números introducidos.</p>

                        <h2>Ejercicio 2</h2>
                        <h3>Cuenta palabras</h3>
                        <p>Dado un texto y una palabra, obtén la cantidad de veces que se encuentra la palabra en el texto dado.</p>

                        <h2>Ejercicio 3</h2>
                        <h3>Calculadora de días transcurridos</h3>
                        <p>Obtén los días transcurridos desde una fecha ingresada hasta el día hoy.</p>
                        break;
                }
            }
        </main>
        <aside>
            <a href="?exe=1">Ejercicio 1</a>
            <a href="?exe=2">Ejercicio 2</a>
            <a href="?exe=3">Ejercicio 3</a>
            <a href="?exe=4">Ejercicio 4</a>
            <a href="/">Principal</a>
        </aside>
    </div>
    <footer>
        <p>23 de Mayo 2023</p>
        <p>CIFP César Manrique</p>
        <p>Andrés Eduardo Izquierdo Brito</p>
        <p>Curso 2022 - 2023</p>
    </footer>
</body>
</html>