@page
@using ENT0701.Models
@model ENT0701.Pages.Components.EjercicioSeleccionModel
@{
    ViewData["Title"] = "Seleccion";
    EjercicioSeleccionModel model = new EjercicioSeleccionModel(Model.Data);
}
<form name="selectionForm" method="post">
    @if (Request.Method == "POST")
    {
        <div class="fixed">
            <div class="selectionBox">
                <h2>Brands:</h2>
                <div class="checkboxOption">
                    <input type="checkbox" id="electra" name="electra" @(Request.Form["electra"] == "on" ? "checked" : "") />
                    <label for="electra">Electra</label>
                </div>
                <div class="checkboxOption">
                    <input type="checkbox" id="trek" name="trek" @(Request.Form["trek"] == "on" ? "checked" : "") />
                    <label for="trek">Trek</label>

                </div>
                <div class="checkboxOption">
                    <input type="checkbox" id="surly" name="surly" @(Request.Form["surly"] == "on" ? "checked" : "") />
                    <label for="surly">Surly</label>

                </div>
                <div class="checkboxOption">
                    <input type="checkbox" id="sunBicycles" name="sunBicycles" @(Request.Form["sunBicycles"] == "on" ? "checked" : "") />
                    <label for="sunBicycles">Sun Bicycles</label>
                </div>
                <div class="radioButtons">
                    <h2>Price:</h2>
                    <div class="radioButtonRow">
                        <input type="radio" id="less1000" name="radioOption" value="less1000" required @(Request.Form["radioOption"] == "less1000" ? "checked" : "") />
                        <label for="less1000">&lt1000€</label>
                    </div>
                    <div class="radioButtonRow">
                        <input type="radio" id="more1000" name="radioOption" value="more1000" @(Request.Form["radioOption"] == "more1000" ? "checked" : "") />
                        <label for="more1000">>=1000€</label>
                    </div>
                </div>
            </div>
            <input class="btn" type="submit" name="action" value="Submit" />
        </div>
        <div class="selectedInformation">
            <table>
                <tr>
                    <th>Brand</th>
                    <th>Name</th>
                    <th>Model Year</th>
                    <th>Stock (All stores)</th>
                    <th>Price</th>
                </tr>
                @{
                    List<string[]> brandProductsList = new List<string[]>();

                    if (Request.Form["electra"] == "on")
                    {
                        brandProductsList.AddRange(model.GetBrandProductList("Electra", Request.Form["radioOption"]));
                    }
                    if (Request.Form["trek"] == "on")
                    {
                        brandProductsList.AddRange(model.GetBrandProductList("Trek", Request.Form["radioOption"]));
                    }
                    if (Request.Form["surly"] == "on")
                    {
                        brandProductsList.AddRange(model.GetBrandProductList("Surly", Request.Form["radioOption"]));
                    }
                    if (Request.Form["sunBicycles"] == "on")
                    {
                        brandProductsList.AddRange(model.GetBrandProductList("Sun Bicycles", Request.Form["radioOption"]));
                    }
                    foreach (string[] product in brandProductsList)
                    {
                        <tr>
                            <td>@product[0]</td> @* Brand *@
                            <td>@product[1]</td> @* Brand *@
                            <td>@product[2]</td> @* Brand *@
                            <td>@product[3]</td> @* Brand *@
                            <td>@product[4]</td> @* Brand *@
                        </tr>
                    }
                }
            </table>

        </div>
    }
    else
    {
        <div class="selectionBox">
            <h2>Brands:</h2>
            <div class="checkboxOption">
                <input type="checkbox" id="electra" name="electra" />
                <label for="electra">Electra</label>
            </div>
            <div class="checkboxOption">
                <input type="checkbox" id="trek" name="trek" />
                <label for="trek">Trek</label>
            </div>
            <div class="checkboxOption">
                <input type="checkbox" id="surly" name="surly" />
                <label for="surly">Surly</label>
            </div>
            <div class="checkboxOption">
                <input type="checkbox" id="sunBicycles" name="sunBicycles" />
                <label for="sunBicycles">Sun Bicycles</label>
            </div>
            <div class="radioButtons">
                <h2>Price:</h2>
                <div class="radioButtonRow">
                    <input type="radio" id="less1000" name="radioOption" value="less1000" required />
                    <label for="less1000">&lt1000€</label>
                </div>
                <div class="radioButtonRow">
                    <input type="radio" id="more1000" name="radioOption" value="more1000" />
                    <label for="more1000">>=1000€</label>
                </div>
            </div>
            <input class="btn" type="submit" name="action" value="Submit" />
        </div>
    }
</form>
