@page
@using ENT0701.Models
@model ENT0701.Pages.Components.EjercicioFiltroModel
@{
    ViewData["Title"] = "Filtro";
    EjercicioFiltroModel model = new EjercicioFiltroModel(Model.Data);
}
<head>
    <script>
        function resetBikeModel() {
            var brandSelect = document.querySelector('select[name="brand"]');
            var bikeModelSelect = document.querySelector('select[name="bikeModel"]');
            bikeModelSelect.selectedIndex = 0;
            brandSelect.form.submit();
        }
    </script>
</head>
<form name="filterForm" method="post">
    @if (Request.Method == "POST")
    {
        <h2>Filter</h2>
        <p>Filter orders by first brand, then shows all of the models of the selected brand.</p>
        <div class="comboBox">
            <div class="topSelect">
                <label for="brand">Brand:</label>
                <select name="brand" onchange="resetBikeModel()">
                    <option disabled selected value=""/>
                    @{
                        List<string> brandNames = (from Brands in Model.Data.Brands
                                                   select Brands.BrandName).ToList();
                        foreach (string brand in brandNames)
                        {
                            var isSelected = Request.Form["brand"] == brand ? "selected" : null;
                            <option value="@brand" selected="@isSelected">@brand</option>
                        }
                    }
                </select>
            </div>
            <div class="bottomSelect">
                <label for="bikeModel">Model:</label>
                <select name="bikeModel" onchange="this.form.submit()">
                    <option disabled selected value=""></option>
                    @{
                        if (Request.Form["brand"] != "")
                        {
                            string selectedBrand = Request.Form["brand"];
                            List<string> bikeName = (from Products in               Model.Data.Products
                                                     join Brands in Model.Data.Brands
                                                     on Products.BrandId equals Brands.BrandId
                                                     where Brands.BrandName == selectedBrand
                                                     orderby Products.ProductName descending
                                                     select Products.ProductName).ToList();
                            foreach (string bike in bikeName)
                            {
                                var isSelected = Request.Form["bikeModel"] == bike ? "selected" : null;
                                <option value="@bike" selected="@isSelected">@bike</option>
                            }
                        }
                    }
                </select>
            </div>

            </div>
            <div class="completeListOrders">
                <table>
                    <tr>
                        <th>Order ID</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Discount</th>
                        <th>List Price</th>
                        <th>Sold Price</th>
                    </tr>
                    @{
                        List<string[]> allDataFiltered = model.FilterByBikeModel(Request.Form["brand"], Request.Form["bikeModel"]);

                        foreach (string[] dataRow in allDataFiltered)
                        {
                            <tr>
                                <td>@dataRow[0]</td>
                                <td>@dataRow[1]</td>
                                <td>@dataRow[2]</td>
                                <td>@dataRow[3]</td>
                                <td>@dataRow[4]</td>
                                <td>@dataRow[5]</td>
                            </tr>
                        }
                    }
                </table>
            </div>
    }
    else
    {
        <h2>Filter</h2>
        <p>Filter orders by first brand, then shows all of the models of the selected brand.</p>
        <div class="comboBox">
            <div cite="topSelect">
                <label for="brand">Brand:</label>
                <select name="brand" onchange="this.form.submit()">
                    <option disabled selected value=""></option>
                    @{
                        List<string> brandNames = (from Brands in Model.Data.Brands
                                                   select Brands.BrandName).ToList();
                        foreach (string brand in brandNames)
                        {
                            <option value="@brand">@brand</option>
                        }
                    }
                </select>
            </div>
            <div class="bottomSelect">
                <label for="modelYear">Model:</label>
                <select name="modelYear" class="disabledSelect">
                    <option disabled selected value=""></option>
                </select>
            </div>
        </div>
        <div class="completeListOrders">
            <table>
                <tr>
                    <th>Order ID</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                    <th>List Price</th>
                    <th>Sold Price</th>
                </tr>
                @{
                    List<string[]> allDataFiltered = model.FilterByBikeModel();

                    foreach (string[] dataRow in allDataFiltered)
                    {
                        <tr>
                            <td>@dataRow[0]</td>
                            <td>@dataRow[1]</td>
                            <td>@dataRow[2]</td>
                            <td>@dataRow[3]</td>
                            <td>@dataRow[4]</td>
                            <td>@dataRow[5]</td>
                        </tr>
                    }
                }
            </table>
        </div>
    }
</form>